name: WakaTime Stats

on:
  schedule:
    - cron: '0 */6 * * *'
  workflow_dispatch:

jobs:
  update-readme:
    runs-on: ubuntu-latest
    steps:
      - uses: athul/waka-readme@master
        with:
          WAKATIME_API_KEY: ${{ secrets.WAKATIME_API_KEY }}
          
          # === SHOW TIME ===
          SHOW_TIME: true
          SHOW_TOTAL: true
          
          # === HIDE COMMITS ===
          COMMITS: false
          
          # === LOOK & FEEL ===
          LOCALE: en
          SYMBOL_VERSION: 2
          
          # === DEBUG ===
          DEBUG: true