name: WakaTime Stats

on:
  schedule:
    - cron: "0 12 * * *"  # every day at 12:00 UTC
  workflow_dispatch:

jobs:
  update-readme:
    runs-on: ubuntu-latest
    steps:
      - uses: athul/waka-readme@master
        with:
          WAKATIME_API_KEY: ${{ secrets.WAKATIME_API_KEY }}
          SHOW_TITLE: "True"
          SHOW_TIMEZONE: "True"
          SHOW_EDITORS: "True"
          SHOW_OS: "True"
          SHOW_PROJECTS: "True"
          SHOW_LANGUAGE: "True"
          SHOW_COMMIT: "True"
          SHOW_DAYS_OF_WEEK: "True"
          SHOW_TIME_OF_DAY: "True"
          SHOW_LANGUAGE_PER_REPO: "True"
          SHOW_PROFILE: "True"
          SHOW_SHORT_INFO: "True"
          SHOW_LOC_CHART: "False"
          COMMIT_MESSAGE: "chore: update WakaTime stats"
